pandas
numpy
matplotlib
seaborn

scikit-learn

sentence-transformers

langchain
langchain-community
langchain-text-splitters

chromadb
faiss-cpu

transformers
accelerate
torch

streamlit

tqdm

pytest

jupyter

ipykernel

python-dotenv
